@import url('https://fonts.googleapis.com/css?family=Maven+Pro:500,600,700,800|Oswald:300,400,500,700&display=swap');
*,body{
    font-family: 'Maven Pro','Oswald', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.sec-mr-top{
    margin-top:100px;
}
header{
    border-top: 5px solid #c9d8c5;
    background-color: #edd9c0;
    padding: 5px 0;
    height: 80px;
}
header .logo{
    padding: 10px ;
    font-size: 25px;
    color: #401706;
    font-weight: 700;
}
header .logo:hover{
    text-decoration: none;
}
header .navbar-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}
header .navbar-box nav {
    display: flex;  
    align-items: center;
}
header .navbar-box nav ul {
    display: flex;  
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
header .navbar-box nav ul li a{
    font-size: 16px;
    text-transform: uppercase;
    color: #401706; 
    padding: 10px 20px;
    display: inline-block;
    font-weight: 600;
    transition: all 300ms ease-in-out 0s;
}
header .navbar-box nav ul li a:hover{
    text-decoration: none;
    background-color:#b9d4b3;
}
header .store_location a{
    color: #401706; 
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 40px;
    padding:10px;
}
header .store_location a:hover{
    text-decoration: none;
}
/*--responsive nav--*/
.checkbtn{
    font-size: 25px;
    color: #401706; 
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:991px){
  .checkbtn{
      display: block;
  }  
  header .navbar-box nav{
      flex-direction: column;
      justify-content: center;
      position: fixed;
      width:100%;
      height: 100vh;
      top: 80px;
      left: -100vw;
      text-align: center;
      transition: all 0.5s;
      background-color:#2c3e50 ;
  }
 header .navbar-box nav ul{
    display: block;
 }
 header .navbar-box nav ul li{
    margin: 20px 0;
 }
  header .navbar-box nav ul li a{
      color: #fff;
  }
  #check:checked ~ nav{
      left: 0;
  }
  header .store_location a{
    margin-left:0px;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
}
header label {
    padding: 10px;
    margin-bottom: 0px;
}
}
main .main-img-box{
    background-image: url(../img/dark-seeds.jpg);
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
}
main .main-img-box .overlay{
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}
main .main-img-box h1{
    font-size: calc(45px + 1vw);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}
main .main-img-box p{
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
.list-items .main-title h2{
    font-size: 45px;
    color: #401706; 
    text-align: center;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}
.list-items .main-title .subtitle{
    color: #a7753a;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    display: block;
    text-align: center;
}
.list-items .main-title .subtitle:before {
    content: '';
    width: 100px;
    position: relative;
    display: inline-block;
    height: 1px;
    background-color: #a7753a;
    margin-right: 10px;
    vertical-align: middle;
    top: -1px;
}
.list-items .main-title p{
    margin-top: 15px;
    text-align: center;
    color: #401706;
}
.list-items .details-item{
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #401706;
}
.discount-bnr{
    background-color: #f3f3f3;
}
.discount-bnr .title{
    padding: 100px 0;
}
.discount-bnr .title h6{
    line-height: 0.2;
    margin-bottom: 0;
    color: #636363; 
}
.discount-bnr .title h2{
    font-size: 55px;
    font-weight: 700;
    color: #636363;
}
.discount-bnr .title p{
    color: #636363; 
}
.discount-bnr .title  a {
    color: #401706;
    padding: 8px 20px;
    border: 1px solid #484848;
    display: inline-block;
    margin-top: 20px;
    transition: all 400ms ease-in-out 0s;
}
.discount-bnr .title  a:hover {
    text-decoration: none;
    background-color: #a7753a;
    color: #fff;
}
.discount-bnr img {
   width: 100%;

}


/*-- responsive design --*/
@media (max-width: 1199px){
    .list-items .details-item{
        font-size: 18px;
    }
  }
@media (max-width: 991px){
    
}
@media (max-width: 767px){
    
  }